
* {
  margin: 0;
  padding: 0;
}

.product {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-around;
  height: 500px;
  background: #ffffff;
  color: var(--color-paynesgray);
  text-align: center;
  border-radius: 8px;
  transition: all 0.3s;
}

.gold{color: orange;}

.product .product-link {
  background-color: white;
  overflow: hidden;
  text-decoration: none;
  color: var(--color-paynesgray);

}
.product-old-price{
  text-decoration: line-through;
}
/* .product-discount-percentage{
  background-color: var(--color-red);
  color: var(--color-paynesgray);
} */

.product .product-image {
  margin-bottom: 1rem;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 0.6rem;
  background-size: cover;
  background-position: center;
  transition: all 1s;
}

.product-info {
  
  width: 100%;
  text-align: start;
  word-wrap: normal;
  min-height: 250px;
}

.product-title {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}
.product-description {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
}
.product .product-price {
  font-size: 1.3rem;
  color: red;
}
.product-rating span {
  padding-left: 1rem;
  font-size: 1.2rem;
}

.produc-link:hover div .product-img {
  scale: 1.1;
}

.product:hover {
  box-shadow: 5px 15px 25px #515050;
}

.product .product-btn {
  width: 100%;
  color: white;
  text-decoration: none;
  background-color: var(--color-paynesgray);
  border-radius: 0.6rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  border:none;
  transition: all 0.2s ease-in-out;
}
.product .product-btn p{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product .product-btn:hover{
  color: var(--color-red)
}

.product .product-btn:disabled{
  background-color: grey;
  color: lightgray;
}

.product .product-btn:hover i{
  color: var(--color-paynesgray);
 
}

.product .product-btn i {
  height: 100%;
  background-color: var(--color-red);
  padding: 1rem;
 
  transition: all 0.2s ease-in-out;
}
.product-login{
  margin-top: 0.5rem;
}

@media only screen and (max-width: 1024) {
  
  .product {
    width: 80%;
  }
}

@media(max-width: 768px) {

  .product .product-btn{
    text-align: center;
    font-size: 1rem;
  }
}
