<div class="sort">
    <div class="sort-wrapper">
        <label class="label">Sort</label>
        <select
            [(ngModel)]="sortByParam"
            (ngModelChange)="onSortChange()"
        >
            <option value="title">Product name</option>
            <option value="price">Price</option>
        </select>
        <button
            *ngIf="sortByParam && sortDirection"
            type="button"
            (click)="onSortDirection()"
        >
            <div *ngIf="sortByParam === 'title'">
                <i
                    *ngIf="sortDirection === 'asc'"
                    class="fa-solid fa-arrow-up-z-a"
                ></i>
                <i
                    *ngIf="sortDirection === 'desc'"
                    class="fa-solid fa-arrow-down-z-a"
                ></i>
            </div>
            <div *ngIf="sortByParam === 'price'">
                <i
                    *ngIf="sortDirection === 'asc'"
                    class="fa-solid fa-arrow-up-1-9"
                ></i>
                <i
                    *ngIf="sortDirection === 'desc'"
                    class="fa-solid fa-arrow-down-9-1"
                ></i>
            </div>
        </button>
    </div>
</div>