.sort {
  margin-top: 7rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
}
.sort label {
  font-size: 1.2rem;

  margin-right: 0.5rem;
}
.sort select {
  padding: 0.5rem;
  border-radius: 4px;
}

.sort select option {
  font-size: 1.1rem;
  padding: 1rem;
}
.sort button {
  font-size: 1.5rem;
  font-weight: 200;
  background-color: var(--color-paynesgray);
  border-radius: 4px;
  color: white;
}

@media (max-width: 768px) {
  .sort {
    margin: 0.5rem 0;
    margin-left: 0;
  }
  .sort label {
    font-size: 1rem;
  }
  .sort select {
    padding: 0.2rem;
    width: 41%;
  }

  .sort select option {
    font-size: 0.8rem;
  }
  .sort button {
    font-size: 1.1rem;
    background-color: var(--color-paynesgray);
    border-radius: 4px;
    color: white;
  }
}
