.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 2rem;
  background-color: var(--color-paynesgray);
  color: white;
}

.footer-header {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}
.footer-header h2 {
  margin: unset;
}
.footer-header ul {
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
}
.footer-header span {
  font-weight: 800px;
}
.footer-body {
  display: flex;
  gap: 10rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.footer-body li{
  margin-bottom: 0.5rem;
}

.footer-body h4 {
  text-decoration: underline;
  text-underline-offset:0.25rem ;
  margin-bottom: 1rem;
}
.footer-end {
  text-align: center;
  background-color: var(--color-silver);
  width: 100vw;
  color: var(--color-paynesgray);
  padding: 0.5rem 0;
}

@media (max-width: 1024px) {

    .footer-body{
        gap: 7rem
    }
}
@media (max-width: 768px) {
    .footer-container{
        padding-inline: 1rem;
    }
    .footer-body{
        gap:0.5rem;
    }
}
