.products {
  padding-block: 1.5rem;
  padding-left: 1rem;
}

.product-list-loader {
  display: flex;
  justify-content: space-around;
  padding-top: 10%;
}

.product-list-header-wrapper {
  display: grid;
  grid-template-columns: 17% 3fr 1fr;
}

.product-list-header {
  margin-left: 2rem;
}

.product-list-header h1 {
  font-size: 1.5rem;
}

.product-list-header-loaded-products {
  font-size: 1rem;
}

.product-list-header-img {
  margin: 0.5rem;
  overflow: hidden;
  border: 8px solid white;
  border-radius: 8px;
  max-height: 180px;
}

.product-list-header-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-list-header p span {
  font-weight: bold;
}

.product-list-filters {
  grid-area: filters;
}
.product-list-cards {
  grid-area: cards;
}

.product-list {
  padding: 1rem;
  display: grid;
  grid-template-columns: 17% 4fr;
  grid-template-rows: auto;
  width: 100%;
  gap: 2rem;
  grid-template-areas:
    "filters cards"
    "filters cards"
    "filters cards";
}

.product-list-cards .all-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  padding-right: 1rem;
}

.product-list-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-list-ni-products {
  text-align: center;
  font-size: 2rem;
}

.product-list-cards button {
  margin-top: 1rem;
  width: 200px;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--color-silver);
  color: var(--color-paynesgray);
  border: 1px solid var(--color-paynesgray);
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.product-list-cards button:hover {
  border: 1px solid var(--color-paynesgray);
  background-color: var(--color-paynesgray);
  color: white;
}

.product-list-cards button.disabled-button {
  pointer-events: none;
  opacity: 0.6;
}

@media (max-width: 1024px) {
  .product-list-header h1 {
    font-size: 1.3rem;
  }

  .product-list-header p {
    font-size: 1.1rem;
  }

  .product-list-header-loaded-products {
    margin-bottom: 2rem;
  }

  .product-list-cards .all-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    grid-template-rows: auto;
  }
}

@media (max-width: 768px) {
  .product-list-header-wrapper {
    display: flex;
    padding: 0 1rem;
    flex-direction: column;
    margin: 0;
  }

  .product-list-header-img {
    display: none;
  }

  .product-list-header {
    padding-right: 1rem;
    width: 100%;
    margin-left: 0;
    max-height: unset;
    min-height: 150px;
  }

  .product-list-cards {
    padding: 1rem;
  }

  .product-list {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
    gap: unset;
    grid-template-areas:
      "filters "
      "cards";
  }

  .product-list-cards .all-cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-template-rows: auto;
  }
}

@media (max-width:640px) {
  .product-list-cards .all-cards {
    grid-template-columns: 1fr;
    gap: 1rem;
    grid-template-rows: auto;
    padding-inline: 2rem;
  }
}
