<div class="products container">
    <div
        *ngIf="isLoading"
        class="product-list-loader"
    >
        <app-loader />
    </div>
    <div
        *ngIf="!isLoading"
        class="product-list-wrapper"
    >
        <div class="product-list-header-wrapper">

            <div class="product-list-header-img">
                <img
                    src="{{categoryImage}}"
                    alt="{{category}}"
                >
            </div>
            <div class="product-list-header">
                <h1>{{category | uppercase}}</h1>
                <p><span>Description:</span> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi,
                    consequuntur.</p>
                <div class="product-list-header-loaded-products">
                    <p *ngIf="!noProductsInTheList">{{products.length}} products loaded from total: {{totalProducts}}
                    </p>
                    <p *ngIf="filterByPrice!=='choose'">{{(productsToLoad |filterByPrice:[filterByPrice])?.length}}
                        products filtered by price range {{filterByPrice}}$</p>
                    <p *ngIf="filterByBrand!=='choose'">{{(productsToLoad |filterByBrand:[filterByBrand])?.length}}
                        products filtered by brand {{filterByBrand}}</p>
                </div>

            </div>
            <div
                *ngIf="!noProductsInTheList"
                class="product-list-sort"
            >

                <app-sort-products
                    [selectedOption]="sortByParam"
                    (sortChange)="onSortChange($event)"
                />
            </div>
        </div>
        <div
            *ngIf="!noProductsInTheList && productsToLoad!==[]"
            class="product-list"
        >
            <div class="product-list-filters">
                <app-sidebar
                    [products]="products"
                    [category]="category"
                    (formFilterCange)="handleFormFilterChange($event)"
                />
            </div>

            <div class="product-list-cards">
                <ul class="all-cards">
                    <app-product-card
                        *ngFor="let product of products"
                        [product]="product"
                    />
                </ul>
                <button
                    (click)="onLoadMore()"
                    [ngClass]="{ 'disabled-button': !loadMore }"
                >Load More</button>
            </div>
        </div>
        <div class="product-list-ni-products">
            <p
                class="no-products"
                *ngIf="noProductsInTheList"
            >No products in {{category}} category!<i class="fa-solid fa-magnifying-glass"></i></p>
        </div>
    </div>
</div>