<div class="products">
    <div
        *ngIf="isLoading"
        class="product-list-loader"
    >
        <app-loader />
    </div>
    <div *ngIf="!isLoading">
        <div class="product-list-header-wrapper">

            <div class="product-list-header">
                <h1>{{category | uppercase}}</h1>
                <p><span>Description:</span> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi,
                    consequuntur. Lorem
                    ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis, harum!</p>
                <p *ngIf="!noProductsInTheList">{{numLoadedProducs}} products loaded from total: {{products.length}}
                </p>
            </div>
            <div class="product-list-sort">

                <app-sort-products
                    (sortChange)="onSortChange($event)"
                    (sortDirectionChange)="onSortDirectionChange($event)"
                />
            </div>
        </div>
        <div
            *ngIf="!noProductsInTheList && productsToLoad!==[]"
            class="product-list"
        >



            <div class="product-list-filters">
                <app-sidebar
                    [products]="products"
                    (brandFilterChange)="onBrandFilterChange($event)"
                    (priceFilterChange)="onPriceFilterChange($event)"
                />
            </div>

            <div class="product-list-cards">
                <ul class="all-cards">
                    <app-product-card
                        *ngFor="let product of productsToLoad
                    |filterByBrand:[filterByBrand] 
                    | filterByPrice: [filterByPrice]
                    | sort:[sortByParam, sortDirection]"
                        [product]="product"
                    />
                </ul>
                <button
                    (click)="onLoadMore()"
                    [ngClass]="{ 'disabled-button': !loadMore }"
                >Load More</button>
            </div>
        </div>
        <p
            class="no-products"
            *ngIf="noProductsInTheList"
        >No products in {{category}} category!</p>
    </div>
</div>