<div class="products container">
    <div
        *ngIf="isLoading"
        class="product-list-loader"
    >
        <app-loader />
    </div>
    <div *ngIf="!isLoading">
        <div class="product-list-header-wrapper">

            <div class="product-list-header-img">
                <img src="{{categoryImage}}" alt="{{category}}">
            </div>
            <div class="product-list-header">
                <h1>{{category | uppercase}}</h1>
                <p><span>Description:</span> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi,
                    consequuntur.</p>
                    <div class="product-list-header-loaded-products">
                        <p *ngIf="!noProductsInTheList">{{numLoadedProducs}} products loaded from total: {{products.length}}</p>
                        <p *ngIf="filterByPrice!=='choose'">{{(productsToLoad |filterByPrice:[filterByPrice])?.length}} products filtered by price range {{filterByPrice}}$</p>
                        <p *ngIf="filterByBrand!=='choose'">{{(productsToLoad |filterByBrand:[filterByBrand])?.length}} products filtered by brand {{filterByBrand}}</p>
                    </div>

            </div>
            <div class="product-list-sort">

                <app-sort-products
                    (sortChange)="onSortChange($event)"
                    (sortDirectionChange)="onSortDirectionChange($event)"
                />
            </div>
        </div>
        <div
            *ngIf="!noProductsInTheList && productsToLoad!==[]"
            class="product-list"
        >
            <div class="product-list-filters">
                <app-sidebar
                    [products]="products"
                    (brandFilterChange)="onBrandFilterChange($event)"
                    (priceFilterChange)="onPriceFilterChange($event)"
                />
            </div>

            <div class="product-list-cards">
                <ul class="all-cards">
                    <app-product-card
                        *ngFor="let product of productsToLoad
                    |filterByBrand:[filterByBrand] 
                    |filterByPrice:[filterByPrice]
                    | sort:[sortByParam, sortDirection]"
                        [product]="product"
                    />
                </ul>
                <button
                    (click)="onLoadMore()"
                    [ngClass]="{ 'disabled-button': !loadMore }"
                >Load More</button>
            </div>
        </div>
        <p
            class="no-products"
            *ngIf="noProductsInTheList"
        >No products in {{category}} category!<i class="fa-solid fa-magnifying-glass"></i></p>
    </div>
</div>