<section class="container">
    <div class="">
        <div class="">
            <div *ngIf="isLoading">
                <app-loader />
            </div>
            <div
                class=""
                *ngIf="error"
            >
                {{error}}
            </div>
            <form
                [formGroup]="registerForm"
                (ngSubmit)="onSubmit()"
                *ngIf="!isLoading"
                class="register-form"
            >
                <div class="register-form-username">
                    <label
                        class="label-username"
                        for="username"
                    ><i class="fas fa-user"></i> Username</label>
                    <input
                        type="text"
                        id="username"
                        class="input-username"
                        placeholder="Enter an username"
                        formControlName="username"
                    />
                    <p
                        class="red"
                        *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched"
                    >
                        <ng-container *ngIf="registerForm.get('username')?.hasError('required')">
                            Username is required!
                        </ng-container>
                        <ng-container *ngIf="registerForm.get('username')?.hasError('minlength')">
                            Username must be at least 3 characters long.
                        </ng-container>
                    </p>

                </div>

                <div class="register-form-email">
                    <label
                        class="label-email"
                        for="email"
                    ><span><i class="fas fa-envelope"></i></span> Email address</label>
                    <input
                        type="email"
                        id="email"
                        name="email"
                        class="input-email"
                        placeholder="Enter a valid email address"
                        formControlName="email"
                    />
                    <p
                        class="red"
                        *ngIf="!registerForm.get('email')?.valid && registerForm.get('email')?.touched"
                    ><ng-container *ngIf="registerForm.get('email')?.hasError('required')">
                            Email is required!
                        </ng-container>
                        <ng-container *ngIf="registerForm.get('email')?.hasError('invalidEmail')">
                            Invalid email!
                        </ng-container>
                    </p>
                </div>

                <div class="register-form-password">
                    <label
                        class="label-password"
                        for="password"
                    ><span><i class="fas fa-lock"></i></span>
                        Password
                    </label>

                    <input
                        type="password"
                        id="password"
                        name="password"
                        class="input-password"
                        placeholder="Enter password"
                        formControlName="password"
                    />
                    <p
                        class="red"
                        *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
                    >
                        <ng-container *ngIf="registerForm.get('password')?.hasError('required')">
                            Password is required!
                        </ng-container>
                        <ng-container *ngIf="registerForm.get('password')?.hasError('minlength')">
                            Password must be at least 6 characters long.
                        </ng-container>
                    </p>
                </div>
                <div class="register-form-rePass">
                    <label
                        class="label-rePass"
                        for="rePass"
                    ><span><i class="fas fa-unlock"></i></span> Repeat password</label>

                    <input
                        type="password"
                        id="rePass"
                        name="rePass"
                        class="input-rePass"
                        placeholder="Repaeat password"
                        formControlName="rePass"
                    />
                    <p
                        class="red"
                        *ngIf="registerForm.get('rePass')?.invalid && registerForm.get('rePass')?.touched"
                    >
                        <ng-container *ngIf="registerForm.get('rePass')?.hasError('required')">
                            Repeat password is required!
                        </ng-container>
                        <ng-container *ngIf="registerForm.get('rePass')?.hasError('minlength')">
                            Repeat password must be at least 6 characters long.
                        </ng-container>
                    </p>
                    <p
                        class="red"
                        *ngIf="registerForm.get('rePass')?.hasError('passwordsNotMatch') && registerForm.get('rePass')?.touched"
                    >
                        Passwords do not match.
                    </p>
                </div>
                <button
                    type="submit"
                    class="register-btn"
                    [disabled]="!registerForm.valid"
                >Register</button>

            </form>
            <p class="small fw-bold mt-2 pt-1 mb-0">If you have an account? <a
                    routerLink="/user/login"
                    class="link"
                >Login</a></p>
        </div>
    </div>
</section>