<header class="header">
    <div class="header-account">
        <div class="container">
            <div class="logo">Timeless<strong>Trends</strong></div>
            <ul>
                <li><i class="fa-solid fa-cart-shopping"></i><span class="cart-products">{{cartCount}}</span></li>
                <li><i class="fa-solid fa-user"></i><span> Welcome</span></li>
            </ul>

        </div>
    </div>

    <nav class="header-nav">
        <div class="container">
            <input
                id="nav-toggle"
                type="checkbox"
            >
            <ul class="links">
                <li
                    *ngFor="let category of categories"
                    class="link"
                >
                    <a
                        [closeMenu]="isMenuOpen"
                        (click)="onCloseMenuClick()"
                        routerLink="/products/{{category}}"
                    >{{category |uppercase}}</a>
                </li>
            </ul>
            <label
                for="nav-toggle"
                class="icon-burger"
                (click)="onCloseMenuClick()"
            >
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </label>
        </div>
    </nav>
</header>