<header class="header">
    <div class="header-account">
        <div class="container">
            <div class="logo"><a routerLink="/">Timeless<strong>Trends</strong></a></div>
            <ul>
                <li *ngIf="isAuthenticated"><i class="fa-solid fa-cart-shopping"></i><span class="cart-products">{{cartCount}}</span></li>
                <li  *ngIf="isAuthenticated"><i class="fa-solid fa-user"></i><span class="header-welcome"> Welcome {{username}}</span></li>
                <li *ngIf="!isAuthenticated"><a routerLink="/auth/login">Login</a></li>
                <li *ngIf="!isAuthenticated"><a routerLink="/auth/register">Register</a></li>
                <li *ngIf="isAuthenticated" class="header-logout-btn"><button (click)="onLogout()" class="logout-btn">Logout</button></li>
            </ul>
        </div>
    </div>

    <nav class="header-nav">
        <div class="container">
            <input
                id="nav-toggle"
                type="checkbox"
            >
            <ul class="links">
                <li
                    *ngFor="let category of categories"
                    class="link"
                >
                    <a
                        [closeMenu]="isMenuOpen"
                        (click)="onCloseMenuClick()"
                        routerLink="/products/{{category}}"
                    >{{category |uppercase}}</a>
                </li>
            </ul>
            <label
                for="nav-toggle"
                class="icon-burger"
                (click)="onCloseMenuClick()"
            >
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </label>
        </div>
    </nav>
</header>