<div class="filter">
    <form
        (ngSubmit)="onSubmit()"
        #f="ngForm"
    >
        <div class="filter-price">

            <label class="label">Price</label>

            <div
                *ngFor="let range of priceRanges"
                class="radio-item"
            >
                <input
                    type="radio"
                    ngModel
                    [value]="range"
                    id="{{range}}-price"
                    name="priceRange"
                />
                <label for="{{range}}-price">{{range}}$</label>
                
            </div>
            <div>
                <input
                    type="radio"
                    value="remove"
                    id="remove-price"
                    name="priceRange"
                />
                <label for="remove-price">Remove filter</label>
            </div>


        </div>
        <div class="filter-brand">

            <label class="label">Brand</label>

            <div
                *ngFor="let brand of uniqueBrands"
                class="radio-item"
            >
                <input
                    type="radio"
                    ngModel
                    [value]="brand"
                    id="{{brand}}"
                    name="brand"
                />
                <label for="{{brand}}">{{brand}}$</label>
            </div>
            <div class="radio-item">
                <input
                    type="radio"
                    value="remove"
                    id="remove-brand"
                    name="brand"
                />
                <label for="remove-brand">Remove filter</label>
            </div>
        </div>
        <button type="submit">Filter</button>
    </form>

 
</div>