.filter {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}

.filter-price,
.filter-brand {
  display: flex;
  flex-direction: column;
}

.filter label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.filter-price select,
.filter-brand select {
  padding: 0.5rem;
  border-radius: 4px;
}

.filter-price select option,
.filter-brand select option {
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .filter {
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }

  .filter-price,
  .filter-brand{
    width: 47%;
    flex-direction: row;
    align-items: baseline;
  }
 
  .filter label {
    font-size: 1rem;
  }

  .filter-price select,
  .filter-brand select {
    padding:0.2rem;
    border-radius: 4px;
    min-width: 200px;
  }

  .filter-price select option,
  .filter-brand select option {
    font-size: 0.8rem;
  }
}
