<section class="container">
  

    <div class="login">
      <div
        *ngIf="isLoading"
        class="loader"
      >
        <app-loader />
      </div>
      <div
        class=""
        *ngIf="error"
      >
        {{error}}
      </div>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        *ngIf="!isLoading"
        class="login-form"
      >
        <div class="login-form-email">
          <label
            class="label-email"
            for="email"
          ><span><i class="fas fa-envelope"></i></span> Email address</label>
          <input
            type="email"
            id="email"
            name="email"
            class="email-input"
            placeholder="Enter a valid email address"
            formControlName="email"
          />
          <p
            class=""
            *ngIf="!loginForm.get('email')?.valid && loginForm.get('email')?.touched"
          ><ng-container *ngIf="loginForm.get('email')?.hasError('required')">
              Email is required!
            </ng-container>
            <ng-container *ngIf="loginForm.get('email')?.hasError('invalidEmail')">
              Invalid email!
            </ng-container>
          </p>
        </div>
        <div class="login-form-password">

          <label
            class="label-password"
            for="password"
          ><span><i class="fas fa-lock"></i></span>
            Password
          </label>
          
            <input
              type="password"
              id="password"
              name="password"
              class="input-password"
              placeholder="Enter password"
              formControlName="password"
            />
            <p
              class="input-help form-text"
              *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
            >
              <ng-container *ngIf="loginForm.get('password')?.hasError('required')">
                Password is required!
              </ng-container>
              <ng-container *ngIf="loginForm.get('password')?.hasError('minlength')">
                Password must be at least 6 characters long.
              </ng-container>
            </p>
        </div>
      

       
          <button
            type="submit"
            class="login-btn"
           
            [disabled]="!loginForm.valid"
          >Login</button>
       
        <p class="">Don't have an account? <a
            routerLink="/auth/register"
            class="link"
          >Register</a></p>
      </form>
    </div>
 

</section>