.container{
   padding-top:4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.login-form-email,
.login-form-password{
    display: flex;
    flex-direction: column;
    
}
.login-form-password{
    margin-block: 1rem;
}
.label-email ,
.label-password{
margin-bottom: 0.5rem;
}

.login-form-email input,
.login-form-password input{
    width: 30vw;
    border-radius: 4px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.login-form-email p,
.login-form-password p{
    color: red;
}

.login-btn{
    background-color: var(--color-paynesgray);
    color: white;
    border: 1px solid var(--color-paynesgray);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    transition: all 0.2s ease-in-out;
}

.login-btn:hover{
background-color: var(--color-silver);
color: var(--color-paynesgray);
}
.login-btn:disabled{
    background-color: grey;
    color: lightgray;
   
    }
