:root {
  --color-silver: #c6c5b9;
  --color-blue: #62929e;
  --color-blue-opacity: #62929e7b;

  --color-paynesgray: #4a6d7c;
  --color-red: #f07167;
  --color-text: #35454b;
}

html,
body {
  margin: 0;
background-color: var(--color-silver);
  font-family: Roboto, "Helvetica Neue", sans-serif;

  color: var(--color-text);
  height: 100%;
}

li {
  list-style: none;
}
