:root {
  --color-silver: #c6c5b9;
  --color-blue: #62929e;
  --color-blue-opacity: #62929e7b;
  --color-paynesgray-opacity: #2c3e5084;
  --color-paynesgray: #2c3e50;
  --color-red: #f07167;
  --color-text: #35454b;
}

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  background-color: var(--color-silver);
  font-family: Popins;
  color: var(--color-text);
  min-height: 100vh;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
}

li {
  list-style: none;
}
button{
    cursor: pointer;
    
}
button .disabled{
    background-color: #c6c5b9;
}
ul{
    padding: 0;
    margin: 0;
}
.label{
  min-width:40px;
  margin-right: 0.5rem;
}
